.current-tasks-container {
    display: grid;
    gap: 13px;
    padding: 18px;
}

.current-task {
    display: grid;
    cursor: pointer;
    grid-template-areas: 'checkbox . content . buttons';
    grid-template-columns: auto var(--gutter) 1fr var(--gutter) auto;
    padding: 12px var(--gutter);
    border: 1px solid black;
    border-radius: var(--border-radius);
    box-shadow: var(--myday-box-shadow);
}

.Checkbox.Mui-checked {
    color: black;
}